header {
    background-color: rgba(255, 255, 255, 0.911); 
    padding: 10px;
    border: solid;
}

header table {
    width: 100%;
}
header table td img {
    width: 20px;
}

aside {
    float: right; 
    padding: 20px;
    margin-top: 3%;
}
aside table {
    background-color: lavender;
    width: 40%; 
    border-spacing: 15px;
}
.valid {
    display: flex; 
    margin-top: 50px;
}
.valid img {
    padding-top: 15px; 
    padding-left: 50px; 
    width: 12%; 
    height: 6%;
}
.valid ul {
    list-style-type: none;
}

.content hr {
    margin: 50px; 
    width: 60%; 
    text-align: left;
}
#confirmed {
    padding: 20px; 
    margin: 25px;
}

.content table{
    width: 60%; 
    padding: 20px; 
    margin: 25px;
}
footer  table{
    width: 100%;
    border: solid;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.911); 
    margin-top: 20%;
}

body{
    background-color: rgb(74, 170, 170); 
    font-family: sans-serif;
}